

/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
  background-size: cover;
  position: fixed !important; 
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url("../public/imgs/stalker.jpg");	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url("../public/imgs/fassbinder1.jpg");
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url("../public/imgs/blowout.jpg");
	z-index: -1;
	opacity: 0;
}

.fourth-image {
	background-image: url("../public/imgs/bringme.jpg");	
	z-index: -3;
	opacity: 0;
}

.fifth-image {
	background-image: url("../public/imgs/enigma.jpg");	
	z-index: -3;
	opacity: 0;
}

.sixth-image {
	background-image: url("../public/imgs/miller.jpg");	
	z-index: -3;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

.fourth-image.show {
	opacity: 1;
}

.fifth-image.show {
	opacity: 1;
}

.sixth-image.show {
	opacity: 1;
}

.jumbotron, #bgdiv, #bgdiv2 {
    background: rgb(46, 49, 49); /* This is for ie8 and below */
    background: rgba(46, 49, 49, 0.5); 
 }

 #bgdiv2 {
   color: white;
   text-shadow: 2px 2px black;
 }



 #date {
     color: white;
     font-family: 'Odibee Sans', cursive;
     letter-spacing: 2px;
 }

 #someText {
    color: white;
    font-family: 'Odibee Sans', cursive;
    font-size: 32px;
    letter-spacing: 2px;
 }

 .button2, #submitButton {
     
    display: inline block;
    background: rgba(46, 49, 49, 0.5); 
    padding: 0.5em 3em;
    border: 0.09em solid rgba(46, 49, 49, 0.5); 
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Odibee Sans', cursive;
    font-weight: 400;
    color: white; 
    text-align: center;
    transition: all 0.15s;
    
 }

 .button2:hover {
     color: white;
     border-color: rgb(46, 49, 49);
     background: rgb(46, 49, 49);
 }

 .button2:active {
     color: rgb(46, 49, 49);
     border-color: rgb(46, 49, 49);
     background: rgb(46, 49, 49);
 }

 /* body{
    text-align:center;
    background:#dfdfdf;
  } */

  h1{
    text-transform:uppercase;
    font-size:72px;
    font-family:'Verdana';
    padding:30px;
  }

  #form{
color: white;
text-shadow: 2px 2px black;
  }

 @media all and (max-width: 30em) {

    .button2{
        display: block;
        margin: 0.4em auto;
        float: center;
    }
 }



   